{% extends "base.html" %}

{% block title %}
	Java (programming language)
{% endblock %}

{% block content %}
    <center>
	<h1>Java</h1>
	</center>
	<p>
	<h3>
    <b>Java</b> is a High Level, class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible. 
    It is a general-purpose programming language intended to let application developers write once, run anywhere (WORA), meaning that compiled Java code can run on all platforms that support Java without the need for recompilation. 
    Java applications are typically compiled to bytecode that can run on any Java virtual machine (JVM) regardless of the underlying computer architecture. The syntax of Java is similar to C and C++, but has fewer low-level facilities than either of them.
	</h3>
	</p>
    <img src= "https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/1200px-Java_programming_language_logo.svg.png"; width=420px ; height=768px>
	<br>
	<center>
    <a href="/"><h2>Home</h2></a>
	<a href="/python"><h2>Python</h2></a>
	<a href="/c"><h2>C language</h2></a>
	</center>
{% endblock %}